node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.svelte-doctor/*

*storybook.log
storybook-static

# Agents
.agents
.claude
.serena
.svelte-doctor
CLAUDE.md
# src/routes/cases/
